data/.flows.json.backup
[{"id":"118fb465fc199c75","type":"tab","label":"Algorithm Manage","disabled":false,"info":"","env":[]},{"id":"4657a243d7ca786f","type":"tab","label":"Algorithm 01","disabled":false,"info":"","env":[]},{"id":"d9416ed27a4930b0","type":"http in","z":"118fb465fc199c75","name":"/api/setAlgorithm","url":"/api/setAlgorithm","method":"post","upload":false,"swaggerDoc":"","x":100,"y":200,"wires":[["be8909ab3bd4e381","b8fd88ef1b43e0cc"]]},{"id":"6a4001d51143ae31","type":"debug","z":"118fb465fc199c75","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":240,"wires":[]},{"id":"b55d3a60b54afe07","type":"link out","z":"118fb465fc199c75","name":"Algorithm Switch","mode":"link","links":["07678dd96a6e7562"],"x":435,"y":440,"wires":[]},{"id":"9956d62bdd856b77","type":"switch","z":"118fb465fc199c75","name":"","property":"algorithm","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"}],"checkall":"false","repair":false,"outputs":3,"x":350,"y":480,"wires":[["b55d3a60b54afe07"],["77e8a9310a803f33"],["3a52065044be8b39"]]},{"id":"77e8a9310a803f33","type":"link out","z":"118fb465fc199c75","name":"Algorithm Switch","mode":"link","links":["782f0c581f8618af"],"x":435,"y":480,"wires":[]},{"id":"d85c593e993c3b35","type":"http response","z":"118fb465fc199c75","name":"Response","statusCode":"","headers":{"content-type":"application/json"},"x":420,"y":200,"wires":[]},{"id":"be8909ab3bd4e381","type":"function","z":"118fb465fc199c75","name":"Message","func":"msg.payload = {\n  \"result_cde\": \"200\",\n  \"result_msg\": \"OK\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":200,"wires":[["d85c593e993c3b35"]]},{"id":"3a52065044be8b39","type":"link out","z":"118fb465fc199c75","name":"Algorithm Switch","mode":"link","links":["f55453d281d2b72a"],"x":435,"y":520,"wires":[]},{"id":"56b86a35312529ff","type":"comment","z":"118fb465fc199c75","name":"운영 알고리즘 선택 (EMS-CORE > Node-RED)","info":"","x":200,"y":160,"wires":[]},{"id":"bc6cc120966ad2ac","type":"comment","z":"118fb465fc199c75","name":"실시간 데이터 수집/처리 (EMS-CORE > Node-RED)","info":"","x":210,"y":320,"wires":[]},{"id":"3eb1424af2e74f03","type":"http in","z":"118fb465fc199c75","name":"/api/data","url":"/api/data","method":"post","upload":false,"swaggerDoc":"","x":80,"y":360,"wires":[["748f20941828f77d"]]},{"id":"748f20941828f77d","type":"function","z":"118fb465fc199c75","name":"Global","func":"/**\n * 공장 전역 변수 설정\n * \n */\nglobal.set(\"ems\", msg.payload) ;\nglobal.set(\"algorithm\", msg.payload.algorithm);\n\nmsg.topic = \"[DATA] Get Device Data \";\nmsg.payload = global.get(\"ems.algorithm\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":210,"y":360,"wires":[["70b4c7f8c10c21f9","9956d62bdd856b77","b29bc7370b919f60"]]},{"id":"70b4c7f8c10c21f9","type":"debug","z":"118fb465fc199c75","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":400,"wires":[]},{"id":"780c5feb92699009","type":"comment","z":"118fb465fc199c75","name":"운영 알고리즘 01","info":"","x":540,"y":440,"wires":[]},{"id":"c922662c2f2fcbee","type":"comment","z":"118fb465fc199c75","name":"운영 알고리즘 02","info":"","x":540,"y":480,"wires":[]},{"id":"4c8988b8fb96c4a7","type":"comment","z":"118fb465fc199c75","name":"운영 알고리즘 03","info":"","x":540,"y":520,"wires":[]},{"id":"9815f41f5aa4a331","type":"inject","z":"118fb465fc199c75","name":"INIT","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":80,"wires":[["105bf3f7d6a1e893"]]},{"id":"314c45628ce21800","type":"comment","z":"118fb465fc199c75","name":"글로벌 변수 설정","info":"","x":100,"y":40,"wires":[]},{"id":"61260bda2d838933","type":"debug","z":"118fb465fc199c75","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":80,"wires":[]},{"id":"105bf3f7d6a1e893","type":"function","z":"118fb465fc199c75","name":"Set Global","func":"\n/**\n * 10진수 -> 16진수 변환\n * @params\n *  - num : 변환 할 값\n */\nglobal.set(\"toHexString\", (num) => {\n    return (num >>> 0).toString(16);\n});\n\n\n/**\n * 16진수 문자열 쪼개기\n * @params\n *  - str : 원 문자열\n */\nglobal.set(\"toSplit\", (hex) => {\n    \n    var result = [];\n    \n    result.push(hex.substring(0, hex.length/2));\n    result.push(hex.substring(hex.length/2, hex.length));\n    \n    return result;\n});\n\n/**\n * 좌측 문자열 채우기\n * @params\n *  - str : 원 문자열\n *  - padLen : 최대 채우고자 하는 길이\n *  - padStr : 채우고자하는 문자(char)\n */\nglobal.set(\"lpad\", (str, padLen, padStr) => {\n    if (padStr.length > padLen) {\n        console.log(\"오류 : 채우고자 하는 문자열이 요청 길이보다 큽니다\");\n        return str;\n    }\n    str += \"\"; // 문자로\n    padStr += \"\"; // 문자로\n    while (str.length < padLen)\n        str = padStr + str;\n    str = str.length >= padLen ? str.substring(0, padLen) : str;\n    return str;\n});\n\nmsg.topic = \"[init] Global Value\";\n//\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":80,"wires":[["61260bda2d838933"]]},{"id":"b29bc7370b919f60","type":"function","z":"118fb465fc199c75","name":"Message","func":"\nmsg.payload = {\n  \"result_cde\": \"200\",\n  \"result_msg\": \"OK\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":360,"wires":[["41e6f2e943782f5f"]]},{"id":"41e6f2e943782f5f","type":"http response","z":"118fb465fc199c75","name":"Response","statusCode":"","headers":{"content-type":"application/json"},"x":500,"y":360,"wires":[]},{"id":"b8fd88ef1b43e0cc","type":"change","z":"118fb465fc199c75","name":"Set Algorithm","rules":[{"t":"set","p":"algorithm","pt":"global","to":"payload.algorithm","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":240,"wires":[["6a4001d51143ae31"]]},{"id":"07678dd96a6e7562","type":"link in","z":"4657a243d7ca786f","name":"algorithm01","links":["a28d2361106c7f52","b55d3a60b54afe07"],"x":35,"y":80,"wires":[["b83fec5018528d7a","f1a92cfd8c76b807"]]},{"id":"761b8ef67ba46499","type":"debug","z":"4657a243d7ca786f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":290,"y":80,"wires":[]},{"id":"b83fec5018528d7a","type":"function","z":"4657a243d7ca786f","name":"Message","func":"msg.payload = \"[Running] Alogrithm 01\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":140,"y":80,"wires":[["761b8ef67ba46499"]]},{"id":"a41dabc7fbe9ad36","type":"comment","z":"4657a243d7ca786f","name":"운영 알고리즘 1번","info":"","x":110,"y":40,"wires":[]},{"id":"f1a92cfd8c76b807","type":"function","z":"4657a243d7ca786f","name":"get Device Value","func":"msg.payload = global.get(\"ems\");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":170,"y":120,"wires":[["5f6c87029d68ff8e","48408fa9e7ee1e58"]]},{"id":"5f6c87029d68ff8e","type":"debug","z":"4657a243d7ca786f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":120,"wires":[]},{"id":"aaa1228a7a8239ef","type":"comment","z":"4657a243d7ca786f","name":"수전해 PCS (D010101)","info":"","x":400,"y":260,"wires":[]},{"id":"2d73994762a73dbd","type":"comment","z":"4657a243d7ca786f","name":"Hydro Electrolyzer (D010102)","info":"","x":420,"y":380,"wires":[]},{"id":"8de26af27857d51c","type":"function","z":"4657a243d7ca786f","name":"조건 검사 ","func":"\n// HYDRO PCS FAULT \nconst P0101010002 = global.get(\"ems.device.data\").find(t => t.id === 'P0101010002');\n\n// HYDRO PCS Warning\nconst P0101010003 = global.get(\"ems.device.data\").find(t => t.id === 'P0101010003');\n\n// 오류 관제점 체크\nvar result = (P0101010002.value) + (P0101010003.value);\n\n\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":300,"wires":[["24827bc3fc16bd69","f41b2d57a73626b7"]]},{"id":"7f259b761e398db6","type":"function","z":"4657a243d7ca786f","name":"조건 검사 ","func":"msg.topic = \"D010102 들어왔습니다\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":420,"wires":[["c63d63df86cf30ce","170a163c872e280a"]]},{"id":"7e9de7b1924c1434","type":"comment","z":"4657a243d7ca786f","name":"연료 전지 (D010103)","info":"","x":390,"y":500,"wires":[]},{"id":"45ec729fbf885c89","type":"function","z":"4657a243d7ca786f","name":"조건 검사 ","func":"msg.topic = \"D010103 들어왔습니다\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":540,"wires":[["acf0b396fbd20c67","3245dcd8798a1759"]]},{"id":"16019273462e7587","type":"comment","z":"4657a243d7ca786f","name":"Master PCS (D010104)","info":"","x":400,"y":620,"wires":[]},{"id":"07cfc8ce078503dd","type":"function","z":"4657a243d7ca786f","name":"조건 검사 ","func":"msg.topic = \"D010104 들어왔습니다\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":660,"wires":[["ed4f174d25891213","bd4c2a7ab45850ea"]]},{"id":"277e6ddaac256799","type":"http request","z":"4657a243d7ca786f","name":"/api/cmd/singleContainerAndSingleDeviceControl","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://192.168.0.202:18090/api/cmd/singleContainerAndSingleDeviceControl","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":1050,"y":300,"wires":[[]]},{"id":"5ad22e194a7da6b7","type":"function","z":"4657a243d7ca786f","name":"Header/Parameter","func":"msg.headers = {\n  \"Content-Type\" : \"application/json\"\n};\n\nmsg.payload = {\n    \"container_id\": \"C01\",\n    \"device\": {\n        \"device_id\": \"D010101\",\n        \"data\": [\n            { \"id\": \"P0101010092\", \"value\": 55 },\n            { \"id\": \"P0101010095\", \"value\": 1 }\n        ]\n    }\n\n};\n\nmsg.topic = \"[수전해 PCS(D010101)] 장비를 동작합니다.\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":260,"wires":[["277e6ddaac256799","55f93fa2df17c62e"]]},{"id":"24827bc3fc16bd69","type":"switch","z":"4657a243d7ca786f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"gte","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":510,"y":300,"wires":[["5ad22e194a7da6b7"],["aaa4513a22256256"],[]]},{"id":"55f93fa2df17c62e","type":"debug","z":"4657a243d7ca786f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":260,"wires":[]},{"id":"aaa4513a22256256","type":"function","z":"4657a243d7ca786f","name":"Header/Parameter","func":"msg.headers = {\n  \"Content-Type\" : \"application/json\"\n};\n\nmsg.payload = {\n    \"container_id\": \"C01\",\n    \"device\": {\n        \"device_id\": \"D010101\",\n        \"data\": [\n            { \"id\": \"P0101010092\", \"value\": 99 },\n            { \"id\": \"P0101010095\", \"value\": 0 }\n        ]\n    }\n\n};\nmsg.topic = \"[수전해 PCS(D010101)] 장비를 정지합니다.\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":340,"wires":[["277e6ddaac256799","55f93fa2df17c62e"]]},{"id":"58454f20c5f9090b","type":"comment","z":"4657a243d7ca786f","name":"수전해 PCS 동작","info":"","x":740,"y":220,"wires":[]},{"id":"63f9a3256929a50f","type":"comment","z":"4657a243d7ca786f","name":"수전해 PCS 정지","info":"","x":740,"y":300,"wires":[]},{"id":"c63d63df86cf30ce","type":"switch","z":"4657a243d7ca786f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":510,"y":420,"wires":[[],[],[]]},{"id":"acf0b396fbd20c67","type":"switch","z":"4657a243d7ca786f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":510,"y":540,"wires":[[],[],[]]},{"id":"ed4f174d25891213","type":"switch","z":"4657a243d7ca786f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":510,"y":660,"wires":[[],[],[]]},{"id":"170a163c872e280a","type":"debug","z":"4657a243d7ca786f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","statusVal":"","statusType":"auto","x":520,"y":460,"wires":[]},{"id":"3245dcd8798a1759","type":"debug","z":"4657a243d7ca786f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","statusVal":"","statusType":"auto","x":520,"y":580,"wires":[]},{"id":"bd4c2a7ab45850ea","type":"debug","z":"4657a243d7ca786f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","statusVal":"","statusType":"auto","x":520,"y":700,"wires":[]},{"id":"48408fa9e7ee1e58","type":"switch","z":"4657a243d7ca786f","name":"DEVICE","property":"payload.device.device_id","propertyType":"msg","rules":[{"t":"eq","v":"D010101","vt":"str"},{"t":"eq","v":"D010102","vt":"str"},{"t":"eq","v":"D010103","vt":"str"},{"t":"eq","v":"D010104","vt":"str"},{"t":"eq","v":"D010105","vt":"str"},{"t":"eq","v":"D010106","vt":"str"},{"t":"eq","v":"D010107","vt":"str"}],"checkall":"false","repair":false,"outputs":7,"x":140,"y":200,"wires":[["8de26af27857d51c"],["7f259b761e398db6"],["45ec729fbf885c89"],["07cfc8ce078503dd"],["9a84d0eed5d9e2f0"],["b95c7ac19c79ae1b"],["d39e8a6dd08def18"]]},{"id":"f41b2d57a73626b7","type":"debug","z":"4657a243d7ca786f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":340,"wires":[]},{"id":"8a3f0322835d4b85","type":"comment","z":"4657a243d7ca786f","name":"H2 Storage (D010105)","info":"","x":400,"y":740,"wires":[]},{"id":"9a84d0eed5d9e2f0","type":"function","z":"4657a243d7ca786f","name":"조건 검사 ","func":"msg.topic = \"D010105 들어왔습니다\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":780,"wires":[["1aac2a12e7679812","9a97aa48c9b6103a"]]},{"id":"1aac2a12e7679812","type":"switch","z":"4657a243d7ca786f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":510,"y":780,"wires":[[],[],[]]},{"id":"9a97aa48c9b6103a","type":"debug","z":"4657a243d7ca786f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","statusVal":"","statusType":"auto","x":520,"y":820,"wires":[]},{"id":"1d2daad815d144e6","type":"comment","z":"4657a243d7ca786f","name":"ESS (D010106)","info":"","x":380,"y":860,"wires":[]},{"id":"b95c7ac19c79ae1b","type":"function","z":"4657a243d7ca786f","name":"조건 검사 ","func":"msg.topic = \"D010106 들어왔습니다\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":900,"wires":[["b6d6f73be0b2d255","509a2b2bc66a97d7"]]},{"id":"b6d6f73be0b2d255","type":"switch","z":"4657a243d7ca786f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":510,"y":900,"wires":[[],[],[]]},{"id":"509a2b2bc66a97d7","type":"debug","z":"4657a243d7ca786f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","statusVal":"","statusType":"auto","x":520,"y":940,"wires":[]},{"id":"17b5179d358cd1c2","type":"comment","z":"4657a243d7ca786f","name":"PLC (D010107)","info":"","x":380,"y":980,"wires":[]},{"id":"d39e8a6dd08def18","type":"function","z":"4657a243d7ca786f","name":"조건 검사 ","func":"msg.topic = \"D010107 들어왔습니다\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":1020,"wires":[["c1e1a2ced7b22b54","ef62fdbe9b91b86f"]]},{"id":"c1e1a2ced7b22b54","type":"switch","z":"4657a243d7ca786f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":510,"y":1020,"wires":[[],[],[]]},{"id":"ef62fdbe9b91b86f","type":"debug","z":"4657a243d7ca786f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","statusVal":"","statusType":"auto","x":520,"y":1060,"wires":[]}]